## 파일 읽고 쓰기
### R에서 제공하는 읽고 쓰기 함수
|패키지|함수|
|----|-----------|
|base<small>기본<small> 패키지|scan, write, write.table, read.table, save, load, write.csv, write.csv 등|
|reader 패키지 | write_csv , read_csv |
|data.table 패키지 | fwrite, fread |
|feather | write_feather , read_feather|

### 파일 읽기
- read.table 함수 : 일반 텍스트 파일을 읽어들여 데이터 프레임 생성
- read.csv 함수 : CSV(Comma-Separated Values) 파일을 읽어 데이터 프레임 생성

In [27]:
df_table = read.table("output.txt", header=T) # as.is : 문자열을 factor 값으로 인식하지 않음. na.strings = NAN  NAN 문자를 NA값으로 인식한다.

In [126]:
df = read.csv("feeds (10).csv", header=T)

### 파일 쓰기
- write.table 함수 : 일반 텍스트 파일로 저장할 때 사용

In [30]:
write.table(df, file="output.txt") #  quote=F : 문자열 안나오게 하기 , as.is=T: 비수치형 데이터를 factor 데이터로 해석하지 말라는 뜻

In [35]:
write.csv(df, file="output.csv", quote=F) #  quote=F : 문자열 안나오게 하기 , as.is=T: 비수치형 데이터를 factor 데이터로 해석하지 말라는 뜻

### 조건문과 반복문 : 조건문
- 데이터 정제를 위해 특정 조건에 맞는 값을 찯아내거나 일부 구간의 값을 추출하여 연산하는 등 다양한 목적에 맞게 작업할 수 있다.
- 조건문 형식

|조건에 맞는 요소를 추출하는 방법|형식|
|----|-----------|
|[]에 행/열 조건 명시|변수명\[ 행 조건식, 열 조건식 \]|
|if 문 활용(if/else if / else)| if(조건식) 표현식 |
| ifelse 문 활용 | ifelse (조건식, 참인 경우 반환값, 거짓인 경우 반환값 |

- [] 에 행/열 조건 명시
벡터의 경우

In [43]:
test = c(15,20,30,NA, 45)
test[test<40] # 값이 40 미만인 요소 추출

[1] 15 20 30 NA

In [44]:
test[test%%3!=0] # 값이 3으로 나누어 떨어지지 않는 요소 추출

[1] 20 NA

In [45]:
test[is.na(test)] # NA인 요소 추출

[1] NA

In [46]:
test[!is.na(test)] # NA가 아닌 요소 추출

[1] 15 20 30 45

In [56]:
test[test%%2 == 0 & !is.na(test)]

[1] 20 30

#### [] 에 행/열 조건 명시
 - 데이터 프레임의 경우

In [58]:
characters= data.frame(name=c("길동", "춘향", "철수"), age = c(30, 16, 21) ,gender =factor(c("M", "F", "M")))
characters

  name age gender
1 길동 30  M
2 춘향 16  F
3 철수 21  M

In [59]:
characters[characters$gender == "F", ] # 성별이 여성인 행 추출

  name age gender
2 춘향 16  F

In [65]:
characters[characters$age < 30 & characters$gender == "M", ] # 30살 미만의 남성 행 추출

  name age gender
3 철수 21  M

In [66]:
x = 5
if(x %% 2 == 0){
    print('x는 짝수') # 조건식이 참일 때 수행
}else{
    print('x는 홀수') # 조건식이 거짓일 때 수행
}

[1] "x는 홀수"

#### if 문 사용(if, elas if, else)

In [94]:
# 두가지 조건 분기가 필요한 경우
x= 5
if(x %% 2== 0){
    print('x는 짝수')
}else{
    print('x는 홀수')
}

[1] "x는 홀수"

In [96]:
x = -1
if(x > 0){
    print('x is a positive value.')
}else if(x< 0){
    print('x is a negative value.')
} else {
    print('x is zero')
}

[1] "x is a negative value."

#### ifelse 문 사용
- if / else 문을 합쳐놓은 형태
- 사용법 : ifelse(조건식, 조건식이 참인 경우 반환값, 조건식이 거짓인 경우 반환값)

In [102]:
x = c(-5: 5)
options(digits = 3) # 숫자 표현시 유효자릿수를 3자리로 설정
sqrt(x) # 제곱근 구하는 함수

Warning message in sqrt(x):
"NaN이 생성되었습니다"

 [1]  NaN  NaN  NaN  NaN  NaN 0.00 1.00 1.41 1.73 2.00 2.24

In [104]:
sqrt(ifelse(x>=0, x, NA)) # NaN이 발생하지 않게 음수면 NA로 표시

 [1]   NA   NA   NA   NA   NA 0.00 1.00 1.41 1.73 2.00 2.24

파일로부터 데이터를 읽어 들인 후 조건문 처리 <br>
점수가 0~100점 이외의 값이 입력된 경우 NA로 처리하는 프로그램

### 반복문
- R 에서 제거하는 반복문은 repeat , while, for 문이 있다.

|반복문|의미|
|----|-----------|
|repeat{ 반복 수행할 문장 }| 블록 안의 문장을 반복해서 수행한다. |
|while(조건식){조건식이 참일 때 수행할 문장}| 조건식이 참일 때 블록 안의 문장을 수행한다. |
| for(변수 in 데이터){ 반복 수행할 문장 }| ifelse (조건식, 참인 경우 반환값, 거짓인 경우 반환값 |

#### repeat 문 사용
 - 1부터 10까지 수를 1씩 증가시켜 출력하기

In [111]:
i = 1
repeat{
    if(i>10){
        break
    } else{
        print(i)
        i = i+1
    }
}

[1] 1
[1] 2
[1] 3
[1] 4
[1] 5
[1] 6
[1] 7
[1] 8
[1] 9
[1] 10

while 문 사용
 - 1 붜 10까지 수를 1씩 증가시키기

In [112]:
i = 1
while(i < 10){
    print(i)
    i = i+1
}

[1] 1
[1] 2
[1] 3
[1] 4
[1] 5
[1] 6
[1] 7
[1] 8
[1] 9

In [114]:
i = 1
while(i < 10){
    print(paste(2, "X",i, "=", 2*i)) # past : 문자열 만드는 함수
    i = i+1
}

[1] "2 X 1 = 2"
[1] "2 X 2 = 4"
[1] "2 X 3 = 6"
[1] "2 X 4 = 8"
[1] "2 X 5 = 10"
[1] "2 X 6 = 12"
[1] "2 X 7 = 14"
[1] "2 X 8 = 16"
[1] "2 X 9 = 18"

#### for 문 사용

In [115]:
for(i in 1:10){
    print(i)
}

[1] 1
[1] 2
[1] 3
[1] 4
[1] 5
[1] 6
[1] 7
[1] 8
[1] 9
[1] 10

### 조건문과 반복문을 사용하기

In [116]:
for(i in 1:10){
    if(i%%2 == 0){
        print(i)
    }
}

[1] 2
[1] 4
[1] 6
[1] 8
[1] 10

소수(prime number) : 1 보다 큰 자연수들 중에서 1과 자기 자신으로만 나누어 떨어지는 수, 2, 3, 5, 6, 11, 13, 17...

In [117]:
for(i in 1:10){
    check = 0
    for(j in 1:i){
        if(i%%j ==0){
            check = check +1
        }
        if(check == 2){
            print(i)
        }
    }
}

[1] 2
[1] 3
[1] 4
[1] 4
[1] 5
[1] 6
[1] 7
[1] 8
[1] 8
[1] 9
[1] 9
[1] 9
[1] 9
[1] 9
[1] 9
[1] 10
[1] 10
[1] 10

### 함수
 - 입력과 출력간의 관계식을 함수라고 할 수 있다.
 - 사용자의 목적에 맞는 다양한 함수를 만들어 보자.

함수명 = function (전달인자1, 전달인자2, ...){
   \+ 함수 동작시 수행할 코드<br>
   \+ return(반환값)<br>
    }

In [143]:
fact = function(x){
    fa = 1
    while(x>1){
        fa = fa * x
        x = x - 1
    }
    return(fa)
}

ERROR: Error in eval(expr, envir, enclos): 객체 'DF'를 찾을 수 없습니다

In [151]:
DF <- read.csv("Pre_Season_Batter.csv")
for(value in names(DF)){
  print(value)
}

[1] "batter_id"
[1] "batter_name"
[1] "year"
[1] "team"
[1] "avg"
[1] "G"
[1] "AB"
[1] "R"
[1] "H"
[1] "X2B"
[1] "X3B"
[1] "HR"
[1] "TB"
[1] "RBI"
[1] "SB"
[1] "CS"
[1] "BB"
[1] "HBP"
[1] "SO"
[1] "GDP"
[1] "SLG"
[1] "OBP"
[1] "E"
[1] "height.weight"
[1] "year_born"
[1] "position"
[1] "career"
[1] "starting_salary"
[1] "OPS"