### gapminder 라이브러리
 - 세계 각국의 기대 수명, 1인당 국내총생산, 인구 데이터 등을 집계해놓은 gapminder 데이터 셋의 일부를 담고 있음.

In [2]:
library(tidyverse) # tibble 을 가지고 있다.

Warning message:
"package 'tidyverse' was built under R version 3.6.3"-- Attaching packages --------------------------------------- tidyverse 1.3.0 --
√ ggplot2 3.3.3     √ purrr   0.3.4
√ tibble  3.1.0     √ dplyr   1.0.5
√ tidyr   1.1.3     √ stringr 1.4.0
√ readr   1.3.1     √ forcats 0.4.0
Warning message:
"package 'ggplot2' was built under R version 3.6.3"Warning message:
"package 'tibble' was built under R version 3.6.3"Warning message:
"package 'tidyr' was built under R version 3.6.3"Warning message:
"package 'purrr' was built under R version 3.6.3"Warning message:
"package 'dplyr' was built under R version 3.6.3"-- Conflicts ------------------------------------------ tidyverse_conflicts() --
x dplyr::filter() masks stats::filter()
x dplyr::lag()    masks stats::lag()

In [4]:
library(gapminder)

Warning message:
"package 'gapminder' was built under R version 3.6.3"

In [5]:
gapminder[1:15, ]

   country     continent year lifeExp pop      gdpPercap
1  Afghanistan Asia      1952 28.801   8425333  779.4453
2  Afghanistan Asia      1957 30.332   9240934  820.8530
3  Afghanistan Asia      1962 31.997  10267083  853.1007
4  Afghanistan Asia      1967 34.020  11537966  836.1971
5  Afghanistan Asia      1972 36.088  13079460  739.9811
6  Afghanistan Asia      1977 38.438  14880372  786.1134
7  Afghanistan Asia      1982 39.854  12881816  978.0114
8  Afghanistan Asia      1987 40.822  13867957  852.3959
9  Afghanistan Asia      1992 41.674  16317921  649.3414
10 Afghanistan Asia      1997 41.763  22227415  635.3414
11 Afghanistan Asia      2002 42.129  25268405  726.7341
12 Afghanistan Asia      2007 43.828  31889923  974.5803
13 Albania     Europe    1952 55.230   1282697 1601.0561
14 Albania     Europe    1957 59.280   1476505 1942.2842
15 Albania     Europe    1962 64.820   1728137 2312.8890

In [6]:
gapminder[ gapminder$country == "Croatia", c("lifeExp", "pop")]

   lifeExp pop
1  61.210  3882229
2  64.770  3991242
3  67.130  4076557
4  68.500  4174366
5  69.610  4225310
6  70.640  4318673
7  70.460  4413368
8  71.520  4484310
9  72.527  4494013
10 73.680  4444595
11 74.876  4481020
12 75.748  4493312

In [7]:
apply(gapminder[ gapminder$country == "Croatia", c("lifeExp" , "pop")], 2, mean)

     lifeExp          pop
7.005592e+01 4.289916e+06

#### 샘플과 속성 추출
 - **select 함수 이용**
 - 열을 지정할 때 " " 없이 열 이름을 그대로 사용할 수 있어서 편리
 - 복수의 열을 추출할 때는 콤마로 구분하며, 인접열을 추출할 때는 : 을 이용한다.

 + 특정 샘풀(행)을 추출할 때는 **filter 함수** 사용
 + 조건식 구성은 base R 과 유사하나 함수 내에서 인덱싱을 위해 데이터 프레이임의 이름을 매번 입력하지 않아도 되므로 명령어가 간결

In [8]:
filter(gapminder, country == "Croatia")

   country continent year lifeExp pop     gdpPercap
1  Croatia Europe    1952 61.210  3882229  3119.237
2  Croatia Europe    1957 64.770  3991242  4338.232
3  Croatia Europe    1962 67.130  4076557  5477.890
4  Croatia Europe    1967 68.500  4174366  6960.298
5  Croatia Europe    1972 69.610  4225310  9164.090
6  Croatia Europe    1977 70.640  4318673 11305.385
7  Croatia Europe    1982 70.460  4413368 13221.822
8  Croatia Europe    1987 71.520  4484310 13822.584
9  Croatia Europe    1992 72.527  4494013  8447.795
10 Croatia Europe    1997 73.680  4444595  9875.605
11 Croatia Europe    2002 74.876  4481020 11628.389
12 Croatia Europe    2007 75.748  4493312 14619.223

#### 행/열 단위의 연산
 - groupby_함수를 이용하며 데이터 프레임에 포함된 factor형 속성을
 활용해 전체 데이터를 그룹으로 분류 가능
 - 보통 summarise 함수를 연이어 사용해 그룹별 통계 지표를 한번에 산출

In [9]:
summarize(group_by(gapminder, continent), pop_avg = mean(pop))

  continent pop_avg
1 Africa     9916003
2 Americas  24504795
3 Asia      77038722
4 Europe    17169765
5 Oceania    8874672

#### %>% 연산자를 이용한 연속 처리
 - %>% 연산자를 사용해 일련의 가공 작업을 연결

<mark>chain(pipe) operator (%>%)</mark> : 여러 단계 절차가 필요해서 중간결과 저장 후 그 객체를 후속 절차에서 받아 사용해야 하는 경우에 유용함.

In [17]:
# 데이터 셋 읽어들이기 : avocado.csv
# Date, AveragePrice : 평균 단가 , Total Volume : 판매량 etc...

# 데이터 셋을 읽어들여 str 함수를 이용해 프레임의 구성 살펴보기
avocado <- read.csv("avocado.csv", header = TRUE ,sep = ",")
str(avocado)

'data.frame':	18249 obs. of  14 variables:
 $ X           : int  0 1 2 3 4 5 6 7 8 9 ...
 $ Date        : Factor w/ 169 levels "2015-01-04","2015-01-11",..: 52 51 50 49 48 47 46 45 44 43 ...
 $ AveragePrice: num  1.33 1.35 0.93 1.08 1.28 1.26 0.99 0.98 1.02 1.07 ...
 $ Total.Volume: num  64237 54877 118220 78992 51040 ...
 $ X4046       : num  1037 674 795 1132 941 ...
 $ X4225       : num  54455 44639 109150 71976 43838 ...
 $ X4770       : num  48.2 58.3 130.5 72.6 75.8 ...
 $ Total.Bags  : num  8697 9506 8145 5811 6184 ...
 $ Small.Bags  : num  8604 9408 8042 5677 5986 ...
 $ Large.Bags  : num  93.2 97.5 103.1 133.8 197.7 ...
 $ XLarge.Bags : num  0 0 0 0 0 0 0 0 0 0 ...
 $ type        : Factor w/ 2 levels "conventional",..: 1 1 1 1 1 1 1 1 1 1 ...
 $ year        : int  2015 2015 2015 2015 2015 2015 2015 2015 2015 2015 ...
 $ region      : Factor w/ 54 levels "Albany","Atlanta",..: 1 1 1 1 1 1 1 1 1 1 ...

#### 그룹 단위 통계(1)
 - 경출 도출을 위해 총 판매량과 판매 가격 속성을 지역에 따라 구분하여 각각 요약
 - dplyr 라이브러리의 group_by 와 summarize 함수 사용.

In [34]:
((x_avg = avocado %>% group_by(region) %>% 
 summarize(V_avg = mean(Total.Volume), P_avg = mean(AveragePrice))))

   region              V_avg       P_avg
1  Albany                 47537.87 1.561036
2  Atlanta               262145.32 1.337959
3  BaltimoreWashington   398561.89 1.534231
4  Boise                  42642.57 1.348136
5  Boston                287792.85 1.530888
6  BuffaloRochester       67936.30 1.516834
7  California           3044324.42 1.395325
8  Charlotte             105193.92 1.606036
9  Chicago               395569.05 1.556775
10 CincinnatiDayton      131721.92 1.209201
11 Columbus               88737.76 1.252781
12 DallasFtWorth         616625.11 1.085592
13 Denver                410954.25 1.218580
14 Detroit               187640.29 1.276095
15 GrandRapids            89383.83 1.505000
16 GreatLakes           1744504.58 1.338550
17 HarrisburgScranton    123694.85 1.513284
18 HartfordSpringfield   149912.83 1.818639
19 Houston               601088.37 1.047929
20 Indianapolis           89536.66 1.313994
21 Jacksonville           85177.53 1.510947
22 LasVegas              160878.42 1.380917
23 LosAngeles           1502652.51 1.216006
24 Louisville             47624.27 1.286686
25 MiamiFtLauderdale     288974.04 1.428491
26 Midsouth             1503992.18 1.404763
27 Nashville             105361.21 1.212101
28 NewOrleansMobile      135192.71 1.304793
29 NewYork               712231.15 1.727574
30 Northeast            2110298.55 1.601923
31 NorthernNewEngland    211635.78 1.477396
32 Orlando               173552.38 1.506213
33 Philadelphia          212540.82 1.632130
34 PhoenixTucson         578826.37 1.224438
35 Pittsburgh             55640.08 1.364320
36 Plains                920676.12 1.436509
37 Portland              327077.55 1.317722
38 RaleighGreensboro     142611.63 1.555118
39 RichmondNorfolk       124943.35 1.291331
40 Roanoke                74088.79 1.247929
41 Sacramento            222377.95 1.621568
42 SanDiego              265656.57 1.398166
43 SanFrancisco          401864.47 1.804201
44 Seattle               323118.87 1.442574
45 SouthCarolina         179744.89 1.403284
46 SouthCentral         2991951.54 1.101243
47 Southeast            1820231.98 1.398018
48 Spokane                46051.11 1.445592
49 StLouis                94890.04 1.430621
50 Syracuse               32374.76 1.520325
51 Tampa                 195279.70 1.408846
52 TotalUS             17351302.31 1.319024
53 West                 3215322.95 1.272219
54 WestTexNewMexico      431408.48 1.261701

#### 그룹 단위 통계(2)
 - 지역별 특징을 연도별로 다시 세분화

In [37]:
(x_avg = avocado %>% group_by(.,region, year) %>% 
 summarize(V_avg = mean(Total.Volume), P_avg = mean(AveragePrice)))

`summarise()` has grouped output by 'region'. You can override using the `.groups` argument.

    region              year V_avg       P_avg
1   Albany              2015   38749.00  1.538750
2   Albany              2016   50618.61  1.533942
3   Albany              2017   49354.55  1.637830
4   Albany              2018   64249.42  1.435833
5   Atlanta             2015  223381.71  1.380577
6   Atlanta             2016  272373.83  1.214135
7   Atlanta             2017  271840.75  1.428774
8   Atlanta             2018  342975.94  1.288750
9   BaltimoreWashington 2015  390822.88  1.368846
10  BaltimoreWashington 2016  393209.64  1.587596
11  BaltimoreWashington 2017  386939.95  1.679434
12  BaltimoreWashington 2018  506620.96  1.378333
13  Boise               2015   36388.05  1.373750
14  Boise               2016   44745.28  1.141923
15  Boise               2017   44910.96  1.492642
16  Boise               2018   50614.98  1.492500
17  Boston              2015  263990.30  1.473558
18  Boston              2016  293954.95  1.426154
19  Boston              2017  288779.93  1.679528
20  Boston              2018  359875.25  1.576667
21  BuffaloRochester    2015   56665.72  1.544615
22  BuffaloRochester    2016   69279.92  1.483846
23  BuffaloRochester    2017   73021.75  1.587736
24  BuffaloRochester    2018   88492.42  1.226250
25  California          2015 2898148.40  1.315865
26  California          2016 3136426.76  1.329904
27  California          2017 2996646.49  1.533868
28  California          2018 3489221.21  1.411250
29  Charlotte           2015   91224.46  1.575769
30  Charlotte           2016  101795.39  1.497885
... ...                 ...  ...         ...
187 Southeast           2017  1856011.81 1.512170
188 Southeast           2018  2511852.94 1.302917
189 Spokane             2015    40208.53 1.400385
190 Spokane             2016    48136.22 1.333558
191 Spokane             2017    48599.32 1.604528
192 Spokane             2018    51078.89 1.425000
193 StLouis             2015    95217.07 1.503365
194 StLouis             2016   102350.73 1.185481
195 StLouis             2017    84793.61 1.591792
196 StLouis             2018   105735.83 1.465833
197 Syracuse            2015    26291.67 1.529038
198 Syracuse            2016    32974.70 1.503462
199 Syracuse            2017    35207.34 1.589434
200 Syracuse            2018    43624.49 1.250417
201 Tampa               2015   164726.90 1.356635
202 Tampa               2016   208468.74 1.264519
203 Tampa               2017   193869.22 1.619340
204 Tampa               2018   276752.29 1.330833
205 TotalUS             2015 15935146.36 1.257404
206 TotalUS             2016 17491914.83 1.263558
207 TotalUS             2017 17591448.71 1.436604
208 TotalUS             2018 21818010.59 1.307083
209 West                2015  2929522.30 1.237788
210 West                2016  3313243.61 1.180865
211 West                2017  3255230.34 1.390000
212 West                2018  3853211.88 1.297083
213 WestTexNewMexico    2015   403145.61 1.259320
214 WestTexNewMexico    2016   421225.30 1.246635
215 WestTexNewMexico    2017   455669.13 1.281538
216 WestTexNewMexico    2018   491700.87 1.251250

#### 그룹 단위 통계(3)
 - 유기농 여부(type) 를 기준으로 한 번 더 세분화

In [45]:
(x_avg = avocado %>% group_by(region, year, type) %>% 
summarize(V_avg = mean(Total.Volume), P_avg = mean(AveragePrice)))

`summarise()` has grouped output by 'region', 'year'. You can override using the `.groups` argument.

    region              year type         V_avg        P_avg
1   Albany              2015 conventional  76208.734   1.1719231
2   Albany              2015 organic        1289.274   1.9055769
3   Albany              2016 conventional  99453.155   1.3457692
4   Albany              2016 organic        1784.068   1.7221154
5   Albany              2017 conventional  95778.543   1.5264151
6   Albany              2017 organic        2930.547   1.7492453
7   Albany              2018 conventional 124160.870   1.3433333
8   Albany              2018 organic        4337.977   1.5283333
9   Atlanta             2015 conventional 440346.444   1.0523077
10  Atlanta             2015 organic        6416.981   1.7088462
11  Atlanta             2016 conventional 533746.336   0.9728846
12  Atlanta             2016 organic       11001.324   1.4553846
13  Atlanta             2017 conventional 527794.842   1.1924528
14  Atlanta             2017 organic       15886.667   1.6650943
15  Atlanta             2018 conventional 669620.026   1.0100000
16  Atlanta             2018 organic       16331.845   1.5675000
17  BaltimoreWashington 2015 conventional 768141.489   1.1680769
18  BaltimoreWashington 2015 organic       13504.271   1.5696154
19  BaltimoreWashington 2016 conventional 768130.302   1.3565385
20  BaltimoreWashington 2016 organic       18288.973   1.8186538
21  BaltimoreWashington 2017 conventional 741746.089   1.5147170
22  BaltimoreWashington 2017 organic       32133.807   1.8441509
23  BaltimoreWashington 2018 conventional 962241.631   1.3008333
24  BaltimoreWashington 2018 organic       51000.286   1.4558333
25  Boise               2015 conventional  70885.753   1.0540385
26  Boise               2015 organic        1890.350   1.6934615
27  Boise               2016 conventional  86871.986   0.8782692
28  Boise               2016 organic        2618.582   1.4055769
29  Boise               2017 conventional  87060.044   1.2681132
30  Boise               2017 organic        2761.867   1.7171698
... ...                 ...  ...          ...          ...
403 Tampa               2016 conventional   412223.563 1.0982692
404 Tampa               2016 organic          4713.925 1.4307692
405 Tampa               2017 conventional   382659.561 1.4139623
406 Tampa               2017 organic          5078.875 1.8247170
407 Tampa               2018 conventional   545088.634 1.2091667
408 Tampa               2018 organic          8415.949 1.4525000
409 TotalUS             2015 conventional 31224729.152 1.0125000
410 TotalUS             2015 organic        645563.567 1.5023077
411 TotalUS             2016 conventional 34043449.788 1.0467308
412 TotalUS             2016 organic        940379.881 1.4803846
413 TotalUS             2017 conventional 33995658.136 1.2216981
414 TotalUS             2017 organic       1187239.286 1.6515094
415 TotalUS             2018 conventional 42125533.352 1.0600000
416 TotalUS             2018 organic       1510487.833 1.5541667
417 West                2015 conventional  5655313.570 0.9400000
418 West                2015 organic        203731.038 1.5355769
419 West                2016 conventional  6404891.888 0.9157692
420 West                2016 organic        221595.324 1.4459615
421 West                2017 conventional  6279482.459 1.0983019
422 West                2017 organic        230978.222 1.6816981
423 West                2018 conventional  7451444.618 0.9808333
424 West                2018 organic        254979.133 1.6133333
425 WestTexNewMexico    2015 conventional   789495.137 0.7715385
426 WestTexNewMexico    2015 organic          9220.608 1.7566667
427 WestTexNewMexico    2016 conventional   824285.770 0.8465385
428 WestTexNewMexico    2016 organic         18164.838 1.6467308
429 WestTexNewMexico    2017 conventional   876801.092 0.9035849
430 WestTexNewMexico    2017 organic         18022.184 1.6743137
431 WestTexNewMexico    2018 conventional   966639.193 0.8575000
432 WestTexNewMexico    2018 organic         16762.538 1.6450000

#### 그룹 단위 통계(4)
 - 방대한 샘플 데이터로부터 지역, 연도, 유기농 재배 여부를 기준으로
 총 판매량과 평균 가격의 요약된 통계를 얻음
 - 6장에서 시각화를 배움

### 데이터 정렬과 검색(1)
 - 정렬과 검색을 통해 데이터를 자세히 관찰 가능
 - arrange 함수(dplyr package)를 사용해 데이터를 총 판매량의 평균 값을 기준으로 정렬하면, 판매량 순위는 물론 **최대치를 기록한 연도와 지역을 알아낼 수 있음**.

In [58]:
arrange(x_avg, desc(V_avg))

    region              year type         V_avg    P_avg
1   TotalUS             2018 conventional 42125533 1.0600000
2   TotalUS             2016 conventional 34043450 1.0467308
3   TotalUS             2017 conventional 33995658 1.2216981
4   TotalUS             2015 conventional 31224729 1.0125000
5   SouthCentral        2018 conventional  7465557 0.8058333
6   West                2018 conventional  7451445 0.9808333
7   California          2018 conventional  6786962 1.0791667
8   West                2016 conventional  6404892 0.9157692
9   West                2017 conventional  6279482 1.0983019
10  California          2016 conventional  6105539 1.0461538
11  SouthCentral        2017 conventional  6005999 0.9509434
12  California          2017 conventional  5834479 1.2530189
13  SouthCentral        2016 conventional  5730807 0.8582692
14  California          2015 conventional  5681498 1.0203846
15  West                2015 conventional  5655314 0.9400000
16  SouthCentral        2015 conventional  5524126 0.8121154
17  Northeast           2018 conventional  5187623 1.3041667
18  Southeast           2018 conventional  4914055 1.1466667
19  GreatLakes          2018 conventional  4209386 1.1466667
20  Northeast           2016 conventional  4104209 1.3194231
21  Northeast           2017 conventional  4016741 1.5052830
22  Northeast           2015 conventional  3855715 1.2148077
23  Midsouth            2018 conventional  3843181 1.1558333
24  Southeast           2016 conventional  3752284 1.0711538
25  Southeast           2017 conventional  3634714 1.3341509
26  GreatLakes          2017 conventional  3404260 1.3313208
27  GreatLakes          2016 conventional  3295253 1.1419231
28  GreatLakes          2015 conventional  3178391 1.0776923
29  LosAngeles          2018 conventional  3068403 1.0225000
30  Southeast           2015 conventional  3047529 1.0842308
... ...                 ...  ...          ...      ...
403 Spokane             2017 organic      3766.168 1.997547
404 Indianapolis        2016 organic      3645.516 1.485000
405 HartfordSpringfield 2015 organic      3494.988 2.252692
406 Jacksonville        2016 organic      3484.101 1.675577
407 Jacksonville        2017 organic      3411.278 1.946604
408 NewOrleansMobile    2016 organic      3400.705 1.473077
409 Spokane             2015 organic      3360.299 1.705385
410 Spokane             2016 organic      3025.019 1.639615
411 Orlando             2015 organic      3016.677 1.866154
412 HarrisburgScranton  2015 organic      2933.000 1.797500
413 Albany              2017 organic      2930.547 1.749245
414 BuffaloRochester    2015 organic      2904.093 1.685769
415 Boise               2017 organic      2761.867 1.717170
416 Louisville          2016 organic      2653.020 1.366346
417 Boise               2018 organic      2650.321 1.805000
418 Boise               2016 organic      2618.582 1.405577
419 NewOrleansMobile    2015 organic      2492.463 1.550962
420 Syracuse            2016 organic      2098.298 1.634808
421 Jacksonville        2015 organic      2096.534 1.885192
422 Indianapolis        2015 organic      2047.050 1.581346
423 GrandRapids         2016 organic      2005.151 1.724615
424 Tampa               2015 organic      1941.753 1.626538
425 Boise               2015 organic      1890.350 1.693462
426 MiamiFtLauderdale   2015 organic      1797.681 1.625962
427 Albany              2016 organic      1784.068 1.722115
428 Louisville          2015 organic      1766.438 1.545577
429 Pittsburgh          2015 organic      1748.357 1.551731
430 GrandRapids         2015 organic      1593.975 1.745769
431 Syracuse            2015 organic      1387.693 1.721731
432 Albany              2015 organic      1289.274 1.905577

### 데이터 정렬과 검색(2)
 - 데이터 셋에 중간 통계 값이 포함된 경우도 있으므로 주의가 필요!
 - 최개닶의 검색은 amx 함수를 사용할 수 있다.

In [59]:
x_avg1 = x_avg %>% filter(region != "TotalUS") # totalus는 전체량

In [63]:
# TotalUS를 제외하고 나면 통계 함수를 직접 사용하여 처리할 수 있음.
x_avg[x_avg$V_avg == max(x_avg$V_avg) ,]

  region  year type         V_avg    P_avg
1 TotalUS 2018 conventional 42125533 1.06

### Date 형 데이터의 활용(1)
 - Date형 속성은 1개월은 31일 , 1년은 12개월로 구성되어 일반 숫자형처럼 처리할 경우 데이터 간의 간격이 일정하지 않아 시각화나 모델링 단계에서 잘못 적욛될 수 있으므로 특별 처리 필요.
 - <mark>속성 하나에 세 가지 속성(연-월-인) 정보를 포함하는 것</mark>이므로 적절히 가공하여 활용하면 데이터를 좀 더 세밀하게 분석할 수 있음.

 - avocdo 판매 정보를 이번에는 연도별 평균 대신 월별 평균으로 요약
 - Date 형 속성인 Date에서 month를 추출할려면 lubridate 라이브러리에서 제공하는 month 함수 사용. month() <mark>year나 day 함수도</mark> 함수도 활용 가능

In [66]:
library(lubridate)

In [68]:
(x_avg = avocado %>% group_by(region, year, month(Date), type) %>% 
 summarize(V_avg = mean(Total.Volume), P_avg = mean(AveragePrice)))

`summarise()` has grouped output by 'region', 'year', 'month(Date)'. You can override using the `.groups` argument.

     region           year month(Date) type         V_avg       P_avg
1    Albany           2015  1          conventional  42931.7850 1.1725
2    Albany           2015  1          organic        1197.7175 1.8450
3    Albany           2015  2          conventional  52342.5600 1.0275
4    Albany           2015  2          organic        1333.5025 1.7625
5    Albany           2015  3          conventional  50658.9640 1.0620
6    Albany           2015  3          organic        1444.1380 1.8260
7    Albany           2015  4          conventional  48594.1525 1.1750
8    Albany           2015  4          organic        1401.6350 1.8875
9    Albany           2015  5          conventional  97215.5160 1.2620
10   Albany           2015  5          organic        1835.6680 1.9420
11   Albany           2015  6          conventional 101689.6400 1.2575
12   Albany           2015  6          organic        1335.9550 2.0175
13   Albany           2015  7          conventional 109170.3825 1.1925
14   Albany           2015  7          organic        1318.4500 2.0350
15   Albany           2015  8          conventional  90400.7480 1.2620
16   Albany           2015  8          organic        1325.4880 1.9260
17   Albany           2015  9          conventional  87961.6575 1.1775
18   Albany           2015  9          organic         914.9225 1.9525
19   Albany           2015 10          conventional  71169.6175 1.1950
20   Albany           2015 10          organic        1111.7700 1.9200
21   Albany           2015 11          conventional  79942.5780 1.1060
22   Albany           2015 11          organic        1050.6020 1.9060
23   Albany           2015 12          conventional  79081.4925 1.1725
24   Albany           2015 12          organic        1076.7400 1.8525
25   Albany           2016  1          conventional 109251.9560 1.1900
26   Albany           2016  1          organic        1426.2180 1.7740
27   Albany           2016  2          conventional 113815.5175 1.1850
28   Albany           2016  2          organic        1317.3150 1.8000
29   Albany           2016  3          conventional 100457.4275 1.3150
30   Albany           2016  3          organic        1741.3275 1.7800
...  ...              ...  ...         ...          ...         ...
4183 WestTexNewMexico 2017  1          conventional  984653.666 0.7300
4184 WestTexNewMexico 2017  1          organic        16193.500 1.2320
4185 WestTexNewMexico 2017  2          conventional 1123543.883 0.6900
4186 WestTexNewMexico 2017  2          organic        28600.068 1.2775
4187 WestTexNewMexico 2017  3          conventional  869861.522 0.8450
4188 WestTexNewMexico 2017  3          organic        27583.213 1.1500
4189 WestTexNewMexico 2017  4          conventional  981374.342 0.8280
4190 WestTexNewMexico 2017  4          organic        24797.888 1.3700
4191 WestTexNewMexico 2017  5          conventional 1077466.127 0.8650
4192 WestTexNewMexico 2017  5          organic        17631.675 1.7225
4193 WestTexNewMexico 2017  6          conventional 1066006.825 0.8450
4194 WestTexNewMexico 2017  6          organic        23528.205 1.6250
4195 WestTexNewMexico 2017  7          conventional  936171.264 0.9380
4196 WestTexNewMexico 2017  7          organic        18927.032 1.6220
4197 WestTexNewMexico 2017  8          conventional  789119.525 0.9975
4198 WestTexNewMexico 2017  8          organic        12651.068 2.1800
4199 WestTexNewMexico 2017  9          conventional  621500.762 1.1750
4200 WestTexNewMexico 2017  9          organic         9876.927 2.3475
4201 WestTexNewMexico 2017 10          conventional  627740.038 1.1260
4202 WestTexNewMexico 2017 10          organic        11358.092 2.1060
4203 WestTexNewMexico 2017 11          conventional  707182.863 0.9325
4204 WestTexNewMexico 2017 11          organic        13314.978 1.8325
4205 WestTexNewMexico 2017 12          conventional  760407.064 0.8760
4206 WestTexNewMexico 2017 12          organic        15412.142 1.6900
4207 WestTexNewMexico 2018  1          conventional  952305.120 0.8675
4208 WestTexNewMexico 2018  1          organic        15337.400 1.7825
4209 WestTexNewMexico 2018  2          conventional 1034118.098 0.8200
4210 WestTexNewMexico 2018  2          organic        17269.840 1.5825
4211 WestTexNewMexico 2018  3          conventional  913494.363 0.8850
4212 WestTexNewMexico 2018  3          organic        17680.375 1.5700

In [76]:
wine = read.table("wine.data.txt" ,sep="," , header=FALSE )
head(wine)

  V1 V2    V3   V4   V5   V6  V7   V8   V9   V10  V11  V12  V13  V14
1 1  14.23 1.71 2.43 15.6 127 2.80 3.06 0.28 2.29 5.64 1.04 3.92 1065
2 1  13.20 1.78 2.14 11.2 100 2.65 2.76 0.26 1.28 4.38 1.05 3.40 1050
3 1  13.16 2.36 2.67 18.6 101 2.80 3.24 0.30 2.81 5.68 1.03 3.17 1185
4 1  14.37 1.95 2.50 16.8 113 3.85 3.49 0.24 2.18 7.80 0.86 3.45 1480
5 1  13.24 2.59 2.87 21.0 118 2.80 2.69 0.39 1.82 4.32 1.04 2.93  735
6 1  14.20 1.76 2.45 15.2 112 3.27 3.39 0.34 1.97 6.75 1.05 2.85 1450

In [84]:
n <- readLines("wine.names.txt")

In [85]:
n

[1] "Alcohol"             "Malic acid"          "Ash"
[4] "Alcalinity of ash  " "Magnesium"           "Total phenols"
[7] "Flavanoids"

In [99]:
names(wine)[2:14] <- n
names(wine)[1] <- "X1"
names(wine)

Warning message in names(wine)[2:14] <- n:
"number of items to replace is not a multiple of replacement length"

 [1] "X1"                  "Alcohol"             "Malic acid"
 [4] "Ash"                 "Alcalinity of ash  " "Magnesium"
 [7] "Total phenols"       "Flavanoids"          "Alcohol"
[10] "Malic acid"          "Ash"                 "Alcalinity of ash  "
[13] "Magnesium"           "Total phenols"

### 데이터 셋 분활하기
 - 모델링을 학습하는 데 필요한 학습 데이터, 구해진 모델이 적절한지 검증하기 위한 테스트 데이터는<br>
 <mark>주어진 데이터 셋을 일정 비율로 분활</mark>하여 얻게 된다.
 - 임의의 샘플을 취하여  분할하는 것이 중요함!
 - dplyr 에서 제공하는 <mark>sample_fran</mark> 나 <mark>sample_n</mark>함수를 사용하면 간편

In [103]:
train_set = sample_frac(wine[1:7], 0.6)  # 증복되는 이름이 있으면 안된다!
# sample_frac : 특정 비율만큼 표본을 무작위로 추출하는 함수
str(train_set)

'data.frame':	107 obs. of  7 variables:
 $ X1                 : int  1 1 2 3 3 2 2 3 3 2 ...
 $ Alcohol            : num  14.4 13.1 12.1 13.7 13.2 ...
 $ Malic acid         : num  1.87 1.65 1.39 5.65 5.19 3.43 1.63 1.67 4.95 2.89 ...
 $ Ash                : num  2.45 2.55 2.5 2.45 2.32 2 2.3 2.64 2.35 2.23 ...
 $ Alcalinity of ash  : num  14.6 18 22.5 20.5 22 19 24.5 22.5 20 18 ...
 $ Magnesium          : int  96 98 84 95 93 87 88 89 92 112 ...
 $ Total phenols      : num  2.5 2.45 2.56 1.68 1.74 2 2.22 2.6 2 1.72 ...

In [107]:
train_set = setdiff(wine[1:7,], train_set) 
# setdiff(x,y) : x에만 있고 y에 없는 것을 추출
str(train_set)

'data.frame':	7 obs. of  14 variables:
 $ X1                   : int  1 1 1 1 1 1 1
 $ Alcohol              : num  14.2 13.2 13.2 14.4 13.2 ...
 $ Malic acid           : num  1.71 1.78 2.36 1.95 2.59 1.76 1.87
 $ Ash                  : num  2.43 2.14 2.67 2.5 2.87 2.45 2.45
 $ Alcalinity of ash    : num  15.6 11.2 18.6 16.8 21 15.2 14.6
 $ Magnesium            : int  127 100 101 113 118 112 96
 $ Total phenols        : num  2.8 2.65 2.8 3.85 2.8 3.27 2.5
 $ Flavanoids           : num  3.06 2.76 3.24 3.49 2.69 3.39 2.52
 $ Alcohol.1            : num  0.28 0.26 0.3 0.24 0.39 0.34 0.3
 $ Malic acid.1         : num  2.29 1.28 2.81 2.18 1.82 1.97 1.98
 $ Ash.1                : num  5.64 4.38 5.68 7.8 4.32 6.75 5.25
 $ Alcalinity of ash  .1: num  1.04 1.05 1.03 0.86 1.04 1.05 1.02
 $ Magnesium.1          : num  3.92 3.4 3.17 3.45 2.93 2.85 3.58
 $ Total phenols.1      : int  1065 1050 1185 1480 735 1450 1290

 - gapminder 패키지의 데이터는 gapminder 웹 사이트에서 제공하는 데이터들 중 극히 일부이다.
 - gapminder 웹사이트 (gapminder.org/data/)에서 전력 생산과 사용 데이터를 각각 다운로드하여 하나의 데이터 프레임으로 가공해보자.

#### 두 개의 데이터 프레임을 병함(1)
 - 이제까지 봐왔던 일반 데이터 프레임의 구성
   - 속성 하나를 열 하나에 배치하고
   - 행 하나가 샘플 한 개의 기록을 구성과 다름
 - <mark> 각 측정 연도 값이 열의 이름이 되어 한 행에 여러 데이터가 기록됨.</mark>
 - <mark> 국가 명, 연도, 전기 생산량과 소비량을 가각 하나의 열에 대응시키는 변형이 필요.
 - gather 함수

In [108]:
library(tidyr)

In [109]:
elec_gen_df = gather(elec_gen, -country, key= "year", value="ElectricityGeneration")
elec_use_df = gather(elec_use, -country, key="year", value = "ElectricityUse")

ERROR: Error in gather(elec_gen, -country, key = "year", value = "ElectricityGeneration"): 객체 'elec_gen'를 찾을 수 없습니다

### 두 개의 데이터 프레임을 병합
 - 재구성된 데이터 프레임을 merge 함수를 이용해 하나의 데이터 프레임으로 병합
 - <mark>merge()</mark>는 두 데이터 프레임을 공통된 값을 기준으로 묶는 함수이다.
 - 데이터 베이스에서 join 과 같은 역할을 한다.