#### 배열 : 열과 행으로 구성된 데이터
 - array 함수 : N차원 배열 생성 ex) array(data, dimensions(차원), dimnames)

In [7]:
# N차월 배열 생성
x = array(1:5 , c(2,4)) # 1~5 값을 2x4 행렬에 할당
x

     [,1] [,2] [,3] [,4]
[1,] 1    3    5    2
[2,] 2    4    1    3

In [8]:
x[1, ] # 1행 요소 값 출력

[1] 1 3 5 2

In [9]:
x[, 2] # 2열 요소 값 출력

[1] 3 4

#### matrix 함수 : 2차원 배열 생성   ex) Matrix(data, nrow, ncol, byrow, dimnames)
 - data : 행렬로 구성할 벡터
 - nrow : 행과 열 수 중 하나 결정
 - byrow : 데이터를 행 단위로 배치할지 여부(T/F)
 - dimanme : 행과 열 이름 목록도 추가 가능

In [14]:
# 2차운 배열 생성
x = 1:12
matrix(x, nrow=3) # data : 행렬로 구성할 벡터
# nrow : 행과 열 수 중 하나 결정

     [,1] [,2] [,3] [,4]
[1,] 1    4    7    10
[2,] 2    5    8    11
[3,] 3    6    9    12

In [15]:
matrix(x, nrow=3, byrow = T) # byrow : 데이터를 행 단위로 배치할지 여부(T/F)
# dimanme : 행과 열 이름 목록도 추가 가능

     [,1] [,2] [,3] [,4]
[1,] 1     2    3    4
[2,] 5     6    7    8
[3,] 9    10   11   12

#### cbind / rbind 함수 : 열(c)/행(r) 단위로 묶어 배열 생성

In [16]:
# 벡터를 묶어 배열 생성
v1 = c(1, 2, 3 ,4)
v2 = c(5, 6, 7 ,8)
v3 = c(9, 10, 11, 12)

cbind(v1, v2, v3) # 열 단위로 묶어 배열 생성

     v1 v2 v3
[1,] 1  5   9
[2,] 2  6  10
[3,] 3  7  11
[4,] 4  8  12

In [17]:
rbind(v1, v2, v3) # 행 단위로 묶어 배열 생성

   [,1] [,2] [,3] [,4]
v1 1     2    3    4
v2 5     6    7    8
v3 9    10   11   12

#### 배열(행렬) 연산자

|연산자|설명|
|----|-----------|
|+, -|행렬의 덧셈과 뺄셈|
|\*| R에서의 행렬 곱셈(각 열별 곱셈)|
|%\*% | 수학적인 행렬 곰셉|
|t(), aperm() | 전치 행렬|
|solve() | 역행렬|
|det() | 행렬식|

In [19]:
# 배열 연산 예제
x = array(1:4, dim = c(2,2))
y = array(5:8, dim = c(2,2))
"x"
x
"y"
y

[1] "x"

     [,1] [,2]
[1,] 1    3
[2,] 2    4

[1] "y"

     [,1] [,2]
[1,] 5    7
[2,] 6    8

In [20]:
x+y

     [,1] [,2]
[1,] 6    10
[2,] 8    12

In [21]:
x-y

     [,1] [,2]
[1,] -4   -4
[2,] -4   -4

In [22]:
x * y

     [,1] [,2]
[1,]  5   21
[2,] 12   32

In [23]:
x %*% y

     [,1] [,2]
[1,] 23   31
[2,] 34   46

In [24]:
t(x)

     [,1] [,2]
[1,] 1    2
[2,] 3    4

In [25]:
solve(x)

     [,1] [,2]
[1,] -2    1.5
[2,]  1   -0.5

In [27]:
det(x)

[1] -2

#### 배열 연산에 유용한 함수
 - apply 함수 : 배열의 행 또는 일별로 함수 적용
 - apply(x, MARGIN, FUN, optional arguments to FUM)
  - x : 행렬 델이터
  - margin :가운데 값
  - FUN : 연산을 수행할 함수

In [28]:
x = array(1:12, c(3,4))
x

     [,1] [,2] [,3] [,4]
[1,] 1    4    7    10
[2,] 2    5    8    11
[3,] 3    6    9    12

In [32]:
apply(x, 1, mean) # 가운데 값이 이면 함수를 행펼로 적용
# x : 행렬 델이터
# margin :가운데 값
# FUN : 연산을 수행할 함수

[1] 5.5 6.5 7.5

#### dim 함수 : 배열의 크기(차원이 수)

In [34]:
x = array(1:12 , c(3, 4))
dim(x)

[1] 3 4

#### sample 함수 : 벡터나 배열에서 샘플 추출
 - sample(x, size, replace = FALSE , prob = NULL)

In [2]:
x = array(1:12 , c(3,4))
sample(x) # 배열 요소를 임의로 섞어 추출

 [1]  6  1  9 11  4 10  3  8  5  7  2 12

In [4]:
sample(x, 10) # 배열 요소 중 10개를 골라 추출

 [1] 11  3  4  8  1  9 10  7 12  6

In [5]:
sample(x, 10, prob = c(1:12)/24) # 각 요소별 추출 확률을 달리할 수 있음.

 [1]  9  6  5 12 10  8 11  4  7  2

In [7]:
sample(10) # 단순히 숫자만 사용하여 샘플을 만들 수 있음

 [1]  3  8  6 10  4  2  9  7  5  1

#### 데이터 프레임
  - 가장 흔히 쓰이는 표 형태의 데이터 구조를 가짐
  - 행렬과 달리 여러 데이터형을 혼합시켜 저장할 수 있음.
  - 리스트와 달리 행의 수를 일치시켜서 저장해야 함. 
  
데이터 프레임 생성 : data.frame 함수 이용.

In [10]:
name = c("철수", "춘향", "길동")
age = c(22, 20, 25)
gender = factor(c("M", "F", "M"))
blood.type = factor(c("A", "0", "B"))
patients = data.frame(name, age, gender, blood.type)
patients

  name age gender blood.type
1 철수 22  M      A
2 춘향 20  F      0
3 길동 25  M      B

데이터 프레임 요소에 접근: $, [,] , 조건식 등을 이용해서 접근

In [11]:
patients$name # name 속성 값 출력

[1] 철수 춘향 길동
Levels: 길동 철수 춘향

In [12]:
patients[1, ] # 1행 값 출력

  name age gender blood.type
1 철수 22  M      A

In [14]:
patients[,2] # 2d열 값 출력

[1] 22 20 25

In [15]:
patients[,2] # 2열 값 출력

[1] 22 20 25

In [16]:
patients[3,1] # 3행 1열 값 출력

[1] 길동
Levels: 길동 철수 춘향

In [17]:
patients[patients$name=="철수",] # 환자 중 철수에 대한 정보 추출

  name age gender blood.type
1 철수 22  M      A

In [18]:
patients[patients$name=="철수", c("name", "age")] # 철수 이름과 나이 정보만 추출

  name age
1 철수 22

#### 데이터 프레임에 유용한 함수
  - attach / detach 함수 : 데이터 프레임의 속성명을 변수명으로 변경

In [21]:
head(cars) # cars 데이터 셋 확인. head 함수의 기본 기능은 앞 6개 데이터를 추출함

  speed dist
1 4      2
2 4     10
3 7      4
4 7     22
5 8     16
6 9     10

In [23]:
speed # speed 변수가 독립적으로 존재하지 않기 때문에 발생

ERROR: Error in eval(expr, envir, enclos): 객체 'speed'를 찾을 수 없습니다

In [25]:
attach(cars) # attach 함수를 통해 cars의 각 속성을 변수로 이용하게 함
speed # speed 라는 변수명을 직접 이용할 수 있음.

 [1]  4  4  7  7  8  9 10 10 10 11 11 12 12 12 12 13 13 13 13 14 14 14 14 15 15
[26] 15 16 16 17 17 17 18 18 18 18 19 19 19 20 20 20 20 20 22 23 24 24 24 24 25

In [26]:
detach(cars) # detach 함수를 통해 cars의 각 속성을 변수로 사용하는 것을 해체함
speed # speed 라는 변수에 접근해보지만, 해당 변수가 없음

ERROR: Error in eval(expr, envir, enclos): 객체 'speed'를 찾을 수 없습니다

#### with 함수 : 데이터 프레임에 다양한 함수 적용

In [35]:
# 데이터 속성을 이용해 함수 적용
"mean"
mean(cars$speed)
"max"
max(cars$speed)

[1] "mean"

[1] 15.4

[1] "max"

[1] 25

In [39]:
"mean"
with(cars, mean(speed))

[1] "mean"

[1] 15.4

In [40]:
"max"
with(cars, max(speed))

[1] "max"

[1] 25

#### subset 함수: 데이터 프레임에서 일부 데이터만 추출

In [42]:
subset(cars, speed > 20)

   speed dist
44 22     66
45 23     54
46 24     70
47 24     92
48 24     93
49 24    120
50 25     85

In [64]:
# 속도가 20 초과인 데이터 중 dist 를 제외한 데이터만 추출
subset(cars, speed > 20 , select = )

   speed
44 22
45 23
46 24
47 24
48 24
49 24
50 25

In [65]:
# 속도가 20 초과인 dist 데이터만 추출, 여러 열 선택은 c( ) 안을 , 로 구분
subset(cars, speed > 20 , select = c(dist))

   dist
44  66
45  54
46  70
47  92
48  93
49 120
50  85

In [63]:
cars[cars$speed > 20,] # , 를 빼지말아라! 이것은 행 임을 암시하는 중요한 부분이다!

   speed dist
44 22     66
45 23     54
46 24     70
47 24     92
48 24     93
49 24    120
50 25     85

#### na.omit 함수 : 데이터 프레임의 결측값(NA) 제거

In [67]:
head(airquality) # airquality 데이터에는 NA가 포함되어 있음

  Ozone Solar.R Wind Temp Month Day
1 41    190      7.4 67   5     1
2 36    118      8.0 72   5     2
3 12    149     12.6 74   5     3
4 18    313     11.5 62   5     4
5 NA     NA     14.3 56   5     5
6 28     NA     14.9 66   5     6

In [68]:
head(na.omit(airquality)) # NA 가 포함된 값을 제외하여 추출함

  Ozone Solar.R Wind Temp Month Day
1 41    190      7.4 67   5     1
2 36    118      8.0 72   5     2
3 12    149     12.6 74   5     3
4 18    313     11.5 62   5     4
7 23    299      8.6 65   5     7
8 19     99     13.8 59   5     8

#### merge 함수 : 여러 데이터 프레임 병합

In [77]:
name = c("철수", "춘향", "길동")
age = c(22, 20, 25)
gender = factor(c("M", "F", "M"))
blood.type = factor(c("A", "O","B"))

patients1 = data.frame(name, age, gender)
patients1

  name age gender
1 철수 22  M
2 춘향 20  F
3 길동 25  M

In [78]:
patients2 = data.frame(name, blood.type)
patients2

  name blood.type
1 철수 A
2 춘향 O
3 길동 B

In [81]:
patients = merge(patients1, patients2, by = "name") # 공통 속성은 name으로 merge 해라
patients

  name age gender blood.type
1 길동 25  M      B
2 철수 22  M      A
3 춘향 20  F      O

### 리스트
 - 서로 다른 기본 데이터형을 갖는 자료 구조를 포함할 수 잇음.
 - 데이터 프레임보다 넓은 의미의 데이터 모임.
 - 데이터 프레임과 달리 모든 속성의 크기가 같을 필요가 없음.

In [85]:
patients = data.frame(name = c("철수", "춘향", "길동"), age = c(22,20,25), 
                      gender = factor(c("M", "F", "M")), blood.type = factor(c("A", "O", "B")))

In [86]:
patients

  name age gender blood.type
1 철수 22  M      A
2 춘향 20  F      O
3 길동 25  M      B

In [88]:
no.patients = data.frame(day = c(1:6), no = c(50,60,55,52,65,58))
no.patients

  day no
1 1   50
2 2   60
3 3   55
4 4   52
5 5   65
6 6   58

In [89]:
listPatients = list(patients, no.patients)
listPatients

[[1]]
  name age gender blood.type
1 철수  22      M          A
2 춘향  20      F          O
3 길동  25      M          B

[[2]]
  day no
1   1 50
2   2 60
3   3 55
4   4 52
5   5 65
6   6 58

In [90]:
# 각 데이터에 이름을 부여하면서 추가
listPatients = list(patients= patients, no.patients = no.patients)
listPatients

$patients
  name age gender blood.type
1 철수  22      M          A
2 춘향  20      F          O
3 길동  25      M          B

$no.patients
  day no
1   1 50
2   2 60
3   3 55
4   4 52
5   5 65
6   6 58

#### 리스트 요소에 접근 : $, [[]] 이용

In [91]:
listPatients$patients # 요소명 입력

  name age gender blood.type
1 철수 22  M      A
2 춘향 20  F      O
3 길동 25  M      B

In [94]:
listPatients[[1]] # 인데스 입력

  name age gender blood.type
1 철수 22  M      A
2 춘향 20  F      O
3 길동 25  M      B

In [95]:
listPatients[["patients"]] # 요소명을 ""에 입력

  name age gender blood.type
1 철수 22  M      A
2 춘향 20  F      O
3 길동 25  M      B

In [97]:
listPatients[["no.patients"]]

  day no
1 1   50
2 2   60
3 3   55
4 4   52
5 5   65
6 6   58

#### 리스트에 유용한 함수
  - lapply / sapply 함수 : 리스트 요소에 다양한 함수 적용

In [98]:
# no.patients 요소의 평균을 구해줌
lapply(listPatients$no.patients, mean)

$day
[1] 3.5

$no
[1] 56.66667

In [99]:
# patients 요소의 평균을 구해줌. 숫자 형태가 아닌 것은 평균이 구해지지 않음
lapply(listPatients$patients , mean)

Warning message in mean.default(X[[i]], ...):
"argument is not numeric or logical: returning NA"Warning message in mean.default(X[[i]], ...):
"argument is not numeric or logical: returning NA"Warning message in mean.default(X[[i]], ...):
"argument is not numeric or logical: returning NA"

$name
[1] NA

$age
[1] 22.33333

$gender
[1] NA

$blood.type
[1] NA

In [103]:
sapply(listPatients$no.patients, mean)
# vector로 만들어서 출력한다.

     day       no
 3.50000 56.66667

In [104]:
# sapply()의 simplify 옵션을 F로 하면 lapply() 결과와 동일한 경과를 반환함
sapply(listPatients$no.patients, mean, simplify = F)

$day
[1] 3.5

$no
[1] 56.66667

In [21]:
str(c(lapply(cars,  max, simplify = F), lapply(cars,  mean, simplify = F))
sapply(listPatients$no.patients, mean, simplify = F)

List of 4
 $ speed: num 15.4
 $ dist : num 43
 $ speed: num 25
 $ dist : num 120