vector , matrix , array , data frame , list

In [1]:
vector

function (mode = "logical", length = 0L)
.Internal(vector(mode, length))
<bytecode: 0x00000000410952d8>
<environment: namespace:base>

df[1:3 , 2, drop=F] # 드롭을 통해서 차원 축소를 방지한다. 벡터 형식으로 추출하기 때문에 차원유지를 위해서 drop = F 를 넣는다.

In [2]:
col1 <- c(1,2,3,4)
col2 <- c("M","F","M","M","F")
col3 <- c(TRUE, FALSE, TRUE, FALSE)
factor(col1, col2)

# DF1 <- data.frame(factor(a = col1, b= col2, c = col))

ERROR: Error in `levels<-`(`*tmp*`, value = as.character(levels)): factor level [3] is duplicated

In [4]:
max.num <- min(length(col1), length(col2), length(col3)) # 각 요소중 가장 작은 요소의 길이를 가져온다.
df = data.frame(col = col1[1:max.num], col2 = col2[1:max.num], col3 = col3[1:max.num]) # 그후 가작 작은 요소만큼.
df

  col col2 col3
1 1   M     TRUE
2 2   F    FALSE
3 3   M     TRUE
4 4   M    FALSE

In [122]:
col1 <- c(1,2,3,4)
col2 <- c("M","F","M","M","F")
col3 <- c(TRUE, FALSE, TRUE, FALSE)

col3 <- c(col3, c(as.logical(round(mean(col3)))))
col1 <- c(col1, round(mean(col1)))
# col1
data.frame(col1, col2, col3)

  col1 col2 col3
1 1    M     TRUE
2 2    F    FALSE
3 3    M     TRUE
4 4    M    FALSE
5 2    F    FALSE

In [80]:
col3

[1]  TRUE FALSE  TRUE FALSE

### 결측치(NA)란
변수는 데이터를 담는 상자에 비유할 수 있다.
다음의 두 경우를 생각해보자

1. 상자에 데이터가 담겨 있는데 상자가 포자오디어 있어서 안에 뭐가 들었는지 모르는 경우
2. 상자는 있는데 아무 것도 안들어 있는 빈 상자의 경우

우리는 1번을 NA , 2번을 NULL 이라고 부른다.
NA는 존재하지만 불확실한 값이고 NULL은 존재하지 않으며 비어있는 값

### 결측치(NA) 제거하기
경우에 따라 NA 가 있는 관측치는 제거해야 할 필요가 존재함 - NA가 포함된 행 전체
결측치를 제거하는 방법에는 두 가지가 있다.

1. **na.omit()**를 사용하는 방법 - NA가 있는 행을 제외하는 함수
2. **complete.cases()**를 사용하는 방법 - NA가 없는 행을 TRUE로 반환 / NA가 없는 행만 추출하는데 사용

In [5]:
df <- data.frame(x=c(1,2,3,NA,7,8) , y=c(5,4,2,2,NA,9))
df

  x  y
1  1  5
2  2  4
3  3  2
4 NA  2
5  7 NA
6  8  9

In [6]:
# 첫 번째 방법
clean <- na.omit(df)
clean

  x y
1 1 5
2 2 4
3 3 2
6 8 9

In [7]:
# 두 번째 방법
clean2 <- df[complete.cases(df), ]
clean2

  x y
1 1 5
2 2 4
3 3 2
6 8 9

In [ ]:
ListPattients = list(patients = patients, no)

#### 사용자 함수

In [8]:
lapply(list_value[[1]], function(x){
    a <- x[1]
    b <- x[length(x)]
    return(c(a,b))
})

ERROR: Error in lapply(list_value[[1]], function(x) {: 객체 'list_value'를 찾을 수 없습니다

In [5]:
list(speed = c(lapply(cars, mean)[[1]], lapply(cars, min)[[1]], lapply(cars, max)[[1]]), 
          dist = c(lapply(cars, mean)[[2]], lapply(cars, min)[[2]], lapply(cars, max)[[2]]))

$speed
[1] 15.4  4.0 25.0

$dist
[1]  42.98   2.00 120.00